{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}


{% block content %}
    {% for track in tracks %}
    <h2>{{ track.title }}</h2>
    <img src="{{ track.cover.url }}" width="400" height="300" alt="">
    <audio controls>
        <source src="{{ track.file.url }}" type="audio/ogg; codecs=vorbis">
        <source src="{{ track.file.url }}" type="audio/mpeg">
        Тег audio не поддерживается вашим браузером.
        <!--<a href="audio/music.mp3">Скачайте музыку</a>.-->
    </audio>
{% endfor %}

    {% if all_items %}
        {% for item in all_items %}
            <img src="{{ item }}" alt="">
        {% endfor %}
    {% endif %}

{% endblock %}